<div class="profile-top">
    <div class="row">

        <div class="col-md-4 text-center">
            <div class="user-likes">
                <p><span class="icon">n</span><%= @user.find_liked_items.count %></p>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="profile-user-avatar" style="background-image:url('<%= @user.avatar %>')">
            </div>
            <h2><%= @user.username %></h2>
        </div>

        <div class="col-md-4 text-center">
            <div class="user-points">
                <p><span class="icon">H</span><%= @user.points %></p>
            </div>
        </div>

    </div>


</div>



<div class="container">


    <div id="container">

<% @user.find_liked_items.each do |widget| %>

        <% if widget.media == "photo" %>
            
        <div class="item">


            <%= link_to widget_path(widget) do %>


            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.content %>')"></div>

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
            </div>

           

            <% end %>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><%= widget.username %></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


           




        </div>

        <% end %>

        <% if widget.media == "video" %>
        <div class="item video-item">


            <%= link_to widget_path(widget) do %>
                
                <div class="video-container">  
                    <div class="play-video"><div class="symbol-play"></div></div>
                    <div class="information">
                        <h3><%= widget.title %></h3>
                        <p><%= widget.source %></p>
                    </div>
                    <div class="video" style="background-image:url('<%= widget.thumb %>')"></div>
                </div>
                

            <% end %>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><%= widget.username %></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                                <p class="heart-icon"><span class="icon">n</span>1,262</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        
        </div>

        <% end %>

        <% if widget.media == "rich" %>

        <div class="item">

            <%= link_to widget_path(widget) do %>
            <div class="img-container">

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>
                
            </div>
            <% end %>


            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><%= widget.username %></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                                <p class="heart-icon"><span class="icon">n</span>1,262</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <% end %>


        <% if widget.media == "link" %>

        <div class="item">

            <%= link_to widget.url, target: "_blank" do %>
            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
            </div>
            <% end %>


            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><%= widget.username %></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                                <p class="heart-icon"><span class="icon">n</span>1,262</p>
                            </div>

                        </div>

                    </div>
                </div>


        <% end %>


    <% end %>
       </div>

</div>
