<div class="profile-top">
    <div class="row">

        <div class="col-md-4 text-center">
            <div class="user-likes">
                <p><span class="icon">n</span><%= @user.find_liked_items.count %></p>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="profile-user-avatar" style="background-image:url('<%= @user.avatar %>')">
            </div>
            <h2><%= @user.username %></h2>
        </div>

        <div class="col-md-4 text-center">
            <div class="user-points">
                <p><span class="icon">H</span><%= @user.points %></p>
            </div>
        </div>

    </div>


</div>



<div class="container">


    <div id="container">

<% @user.find_liked_items.each do |widget| %>

        <% if widget.media == "photo" %>
            
        <div class="item">

            <%= link_to widget_path(widget) do %>



            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.content %>')"></div>
            </div>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">               
                            <h3><%= widget.title %></h3>
                            <p><%= widget.description %></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>
                    </div>
                </div>
            </div>

           

            <% end %>

            <div class="widget-stats">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-3">
                            <p><%= widget.source %></p>
                        </div>
                        <div class="col-md-9">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                                <p class="comment-icon"><span class="icon">p</span>653</p>
                                <p class="comment-icon"><span class="icon">k</span>653</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


           




        </div>

        <% end %>

        <% if widget.media == "video" %>
        <div class="item video-item">

            <%= link_to widget_path(widget) do %>
                
                <div class="video-container">  
                    <div class="video" style="background-image:url('<%= widget.thumb %>')"></div>
                </div>

                <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">               
                            <h3><%= widget.title %></h3>
                            <p><%= widget.description %></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>
                    </div>
                </div>
            </div>
                

            <% end %>

            <div class="widget-stats">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                                <p class="comment-icon"><span class="icon">p</span>653</p>
                                <p class="comment-icon"><span class="icon">k</span>653</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        
        </div>

        <% end %>

        <% if widget.media == "rich" %>

        <div class="item">

        <div class="widget-info">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="widget-user-avatar">
                            <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                        </div>
                        <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                    </div>

                </div>
            </div>
        </div>

            <%= link_to widget_path(widget) do %>
            <div class="img-container">

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>
                
            </div>
            <% end %>


            <div class="widget-stats">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                                <p class="comment-icon"><span class="icon">p</span>653</p>
                                <p class="comment-icon"><span class="icon">k</span>653</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <% end %>


        <% if widget.media == "link" %>

        <div class="item">

            <%= link_to widget.url, target: "_blank" do %>
            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>
            </div>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">               
                            <h3><%= widget.title %></h3>
                            <p><%= widget.description %></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>


            <div class="widget-stats">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                                <p class="comment-icon"><span class="icon">p</span>653</p>
                                <p class="comment-icon"><span class="icon">k</span>653</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <% end %>


    <% end %>
       </div>

</div>

<script>
    $("#container").gridalicious({
      gutter: 40,
      width: 335,
      animate: true,
      animationOptions: {
        queue: true,
        speed: 200,
        duration: 300,
        effect: 'fadeInOnAppear',
      }
    });
</script>

