<div class="container-fluid">

<!-- START OF INTRODUCTION BOX -->

<div class="row introduction">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-8">
                <h1>Wtf is Trendio?</h1>
                <p>Trendio.co is essentially Facebook but without baby pictures wedding photos.</p>
            </div>

            <div class="col-md-2">
                <a class="btn btn-primary">Request Invite</a>
            </div>

            <div id="mascot">
                <img src="<%= image_path "mascot.svg" %>" alt="Moonie is Watching you!">
            </div>

        </div>
    </div>
</div>

<!-- END OF INTRODUCTION BOX -->


    <div id="grid">
    <% @widgets.each do |widget| %>


        <% if widget.source == "youtube" %>
            
        <div class="item">
            <%= link_to widget_path(widget) do %>
              <img src="http://img.youtube.com/vi/<%= widget.ident %>/hqdefault.jpg">
            <% end %>
        </div>

        <% end %>

        <% if widget.source == "imgur" %>

        <div class="item">
            <%= link_to widget_path(widget) do %>
                <img src="<%= widget.url %>/">
            <% end %>
        </div>

        <% end %>



    <% end %>
    </div>
</div>
<br />

<script>
    $("#grid").gridalicious({
      gutter: 8,
      width: 400
    });
</script>

<%= link_to 'New Widget', new_widget_path %>

