<div class="container-fluid">

    <!-- START OF INTRODUCTION BOX -->
<% if user_signed_in? %>

<% else %>
    <div class="row introduction">
        <div class='container'>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1><%= @widgets.count %> Awesome Things & Counting</h1>
                    <p>Get up-to-date with all the latest trends from around the world, get ready to replace your favourite website.</p>
                    <%= link_to "Sign up for Trendly", new_user_registration_path, class: "btn btn-primary"  %>
                </div>


            </div>
        </div>
        </div>
    </div>
<% end %>
</div>

<!-- END OF INTRODUCTION BOX -->

<div class="container-fluid sorting">
    <!-- START OF SORTING BAR -->
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <ul class="clearfix">
                    <li>
                        <%= link_to root_path(:order => 'popular'), class: "editor" do %>
                          <span class="icon">n</span>Most Popular
                        <% end %>
                    </li>
                    <li>
                        <a href="#" class="commented"><span class="icon">p</span>Most Commented</a>
                    </li>
                    <li>
                        <%= link_to root_path(:order => 'newest'), class: "trending" do %>
                          <span class="icon">o</span>Newest
                        <% end %>
                    </li>
                    
                    <li>
                        <%= link_to "New Article", new_widget_path, class: "btn btn-new"  %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<%= render 'layouts/feed' %>



<% unless @widgets.current_page == @widgets.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @widgets.current_page + 1)) %>
  </p>
<% end %>

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
-->  
<br />

<script>
    $("#container").gridalicious({
      gutter: 40,
      width: 335,
      animate: true,
      animationOptions: {
        queue: true,
        speed: 200,
        duration: 300,
        effect: 'fadeInOnAppear',
      }
    });
</script>




<%= link_to 'New Widget', new_widget_path %>

