<div class="container-fluid">

    <!-- START OF INTRODUCTION BOX -->
<% if user_signed_in? %>

<% else %>
    <div class="row introduction">
        <div class='container'>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Welcome to your New Home</h1>
                    <p>Get up-to-date with all the latest trends from around the world, get ready to replace your favourite website.</p>
                    <%= link_to "Sign up for Trendly", new_user_registration_path, class: "btn btn-primary"  %>
                </div>


            </div>
        </div>
        </div>
    </div>
<% end %>
</div>

<!-- END OF INTRODUCTION BOX -->

<div class="container-fluid sorting">
    <!-- START OF SORTING BAR -->
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <ul class="clearfix">
                    <li>
                        <a href="#" class="editor"><span class="icon">n</span>Most Popular</a>
                    </li>
                    <li>
                        <a href="#" class="commented"><span class="icon">p</span>Most Commented</a>
                    </li>
                    <li>
                        <a href="#" class="trending"><span class="icon">o</span>Newest</a>
                    </li>
                    
                    <li>
                        <%= link_to "New Article", new_widget_path, class: "btn btn-new"  %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div id="grid">
    <% @widgets.each do |widget| %>


        <% if widget.media == "photo" %>
            
        <div class="item">

            <%= link_to widget_path(widget) do %>
            <div class="img-container">
                <img src="<%= widget.content %>">
            </div>
        <% end %>



                <div class="information">
                    <div class="row">
                        <div class="col-md-12 title">
                            <h4><%= widget.title %></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"> 
                            <p class="user">Test</p>
                            <%= raw widget.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                        </div>
                    </div>
                </div>
            

            <!--<div class="social-links">
                <a data-toggle="tooltip" data-placement="bottom" title="Add to bucket" class="btn btn-social btn-bucket"><span class="icon">a</span></a>
                <a class="btn btn-social btn-share"><span class="icon">+</span></a>
            </div>

            <div class="overlay">
            </div>
            -->
        </div>

        <% end %>

        <% if widget.media == "video" %>

        <div class="item">
            <%= link_to widget_path(widget) do %>
            <div class="img-container">
                <img src="<%= widget.thumb %>">
            </div>
            <% end %>

                <div class="information">
                    <div class="row">
                        <div class="col-md-12 title">
                            <h4><%= widget.title %></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"> 
                            <p class="user">Test</p>
                            <%= raw widget.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                        </div>
                    </div>
                </div>
            

            <div class="social-links">
                <a data-toggle="tooltip" data-placement="bottom" title="Add to bucket" class="btn btn-social btn-bucket"><span class="icon">a</span></a>
                <a class="btn btn-social btn-share"><span class="icon">+</span></a>
            </div>

            <div class="overlay">
            </div>
        </div>

        <% end %>



    <% end %>



    </div>
</div>

    <div class="pages">
        <div class="col-md-12">
            <%= will_paginate @widgets, :page_links => false %>
        </div>
    </div>
    
<br />

<!-- <script>
    $("#grid").gridalicious({
      gutter: 10,
      width: 250,
      animate: true,
      animationOptions: {
        queue: true,
        speed: 200,
        duration: 300,
        effect: 'fadeInOnAppear',
      }
    });
</script>
-->



<%= link_to 'New Widget', new_widget_path %>

