<% title "Home" %>
<div class="container-fluid">

    <!-- START OF INTRODUCTION BOX -->
<% if user_signed_in? %>

<% else %>
    <div class="row introduction">
        <div class='container'>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Share the links you love, easily</h1>
                    <p>Hashtagg is the best way to share your favourite </br>links from across the web</p>
                    <%= link_to "Sign up for Hashtagg", new_user_registration_path, class: "btn btn-primary"  %>
                </div>


            </div>
        </div>
        </div>
    </div>
<% end %>
</div>

<!-- END OF INTRODUCTION BOX -->

<div class="container-fluid sorting">
    <!-- START OF SORTING BAR -->
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <ul class="clearfix">
                    <li>
                        <%= link_to root_path(:order => 'popular'), class: "editor" do %>
                          <span class="icon">n</span>Most Popular
                        <% end %>
                    </li>
                    <li>
                        <a href="#" class="commented"><span class="icon">p</span>Most Commented</a>
                    </li>
                    <li>
                        <%= link_to root_path(:order => 'newest'), class: "trending" do %>
                          <span class="icon">o</span>Newest
                        <% end %>
                    </li>
                    
                    <li>
                     <% if user_signed_in? %>

                        <%= link_to "Submit Link", new_widget_path, class: "btn btn-new"  %>

                    <% else %>

                        <%= link_to "Register to Post", new_user_registration_path, class: "btn btn-register"  %>

                    <% end %>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="container">

<%= render 'layouts/feed' %>

    </div>
</div>

<%= will_paginate @widgets %>

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
-->  
<br />

<script>
    $("#container").gridalicious({
      gutter: 40,
      width: 369,
      animate: true,
      animationOptions: {
        queue: true,
        speed: 200,
        duration: 300,
        effect: 'fadeInOnAppear',
      }
    });
</script>



