<div class="container-fluid">

    <!-- START OF INTRODUCTION BOX -->
<% if user_signed_in? %>

<% else %>
    <div class="row introduction">
        <div class='container'>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Welcome to your New Home</h1>
                    <p>Get up-to-date with all the latest trends from around the world, get ready to replace your favourite website.</p>
                    <%= link_to "Sign up for Trendly", new_user_registration_path, class: "btn btn-primary"  %>
                </div>


            </div>
        </div>
        </div>
    </div>
<% end %>
</div>

<!-- END OF INTRODUCTION BOX -->

<div class="container-fluid sorting">
    <!-- START OF SORTING BAR -->
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <ul class="clearfix">
                    <li>
                        <a href="#" class="editor"><span class="icon">n</span>Most Popular</a>
                    </li>
                    <li>
                        <a href="#" class="commented"><span class="icon">p</span>Most Commented</a>
                    </li>
                    <li>
                        <%= link_to root_path(:order => 'newest'), class: "trending" do %>
                          <span class="icon">o</span>Newest
                        <% end %>
                    </li>
                    
                    <li>
                        <%= link_to "New Article", new_widget_path, class: "btn btn-new"  %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div id="container">
    <% @widgets.each do |widget| %>


        <% if widget.media == "photo" %>
            
        <div class="item">


            <%= link_to widget_path(widget) do %>


            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.content %>')"></div>

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
            </div>

           

            <% end %>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


           




        </div>

        <% end %>

        <% if widget.media == "video" %>
        <div class="item video-item">


            <%= link_to widget_path(widget) do %>
                
                <div class="video-container">  
                    <div class="play-video"><div class="symbol-play"></div></div>
                    <div class="information">
                        <h3><%= widget.title %></h3>
                        <p><%= widget.source %></p>
                    </div>
                    <div class="video" style="background-image:url('<%= widget.thumb %>')"></div>
                </div>
                

            <% end %>

            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        
        </div>

        <% end %>

        <% if widget.media == "rich" %>

        <div class="item">

            <%= link_to widget_path(widget) do %>
            <div class="img-container">

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>
                
            </div>
            <% end %>


            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <% end %>


        <% if widget.media == "link" %>

        <div class="item">

            <%= link_to widget.url, target: "_blank" do %>
            <div class="img-container">
                <div class="image" style="background-image:url('<%= widget.thumb %>')"></div>

                <div class="information">
                    <h3><%= widget.title %></h3>
                    <p><%= widget.source %></p>
                </div>
            </div>
            <% end %>


            <div class="widget-info">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="widget-user-avatar">
                                <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                            </div>
                            <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                        </div>

                        <div class="col-md-4">
                            <div class="widget-post-stats">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% end %>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <% end %>


    <% end %>



    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%= will_paginate @widgets, :page_links => false %>
            </div>
        </div>
    </div>
    
<br />

<!--
<script>
    $("#grid").gridalicious({
      gutter: 35,
      width: 335,
      animate: true,
      animationOptions: {
        queue: true,
        speed: 200,
        duration: 300,
        effect: 'fadeInOnAppear',
      }
    });
</script>
-->



<%= link_to 'New Widget', new_widget_path %>

