<% title @widget.title %>
<div class="container inpost-header">

  <div class="row inpost-content-wrapper">

    <% if @widget.media == "photo" %>
      <div class="col-md-12 text-center">
              <img src="<%= @widget.content %>" id="show-image" class="image"/>
      </div>
    <% end %>

    <% if @widget.media == "video" %>
      <div class="col-md-12 content text-center">
              <%= raw @widget.content %>
      </div>
    <% end %>

    <% if @widget.media == "rich" %>
      <div class="col-md-12 content text-center">
              <%= raw @widget.content %>
      </div>
    <% end %>

    <% if @widget.media == "link" %>
      <div class="col-md-12 content text-center">
        <img src="<%= @widget.thumb %>" id="show-image" class="image"/>
      </div>
    <% end %>

  </div>






    <div class="row widget-name">
      <div class="col-md-12">
        <h2><%= @widget.title %></h2>
      </div>
    </div>

    <div class="row widget-user">
      <div class="col-md-12">
        <div class="in-post-avatar" style="background-image:url('<%= @widget.user.avatar %>')"></div>
        <p><a href="/users/<%= @widget.user.id %>"><%= @widget.username %></a></p>
      </div>
    </div>

    <div class="row widget-functions">
      <div class="col-md-2">
        <% if current_user && current_user.voted_for?(@widget) %>
              <%= link_to ("<span class='icon'>n</span> Liked").html_safe, unlike_widget_path(@widget), class: "btn btn-loved", method: :put %>
        <% else %>
              <%= link_to ("<span class='icon'>n</span> Like?").html_safe, like_widget_path(@widget), class: "btn btn-love", method: :put %>  
        <% end %>
      </div>

      <div class="col-md-3">
        <%= link_to ("<span class='icon'>p</span>Comments").html_safe, @widget.url, class: "btn btn-comment"  %>
      </div>

      <div class="col-md-3">
        <%= link_to ("<span class='icon'>&#xe011;</span>Share").html_safe, @widget.url, class: "btn btn-share"  %>
      </div>

    </div>

    <div class="row widget-description">
      <div class="col-md-12">
        <p><%= @widget.description %></p>
      </div>
    </div>





<!--       <div class="col-md-8">

      </div> -->

    <div class="row widget-comments">
      <div class="col-md-12">
        <%= commontator_thread(@widget) %>
      </div>
    </div>

     
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center delete-links">
          <% if can? :update, @widget %>
            <%= link_to "Edit", edit_widget_path(@widget) %>
            <%= link_to "Delete", @widget, :method => :delete, :confirm => "Are you sure ?"%>
          <% end %>
      </div>
    </div>
</div>







<p id="notice"><%= notice %></p>





