<div class="container-fluid">

  <div class="row widget-name">
    <div class="col-md-8">
      <h2><a href="/">Home / </a><%= @widget.title %></h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row content">
    <div class="col-md-12">

          <% if @widget.source == "youtube" %>
          <iframe width="700" height="415" src="//www.youtube.com/embed/<%= @widget.ident %>" frameborder="0" allowfullscreen></iframe>

          <% elsif @widget.source == "imgur" %>
            <img src="<%= @widget.url %>" />


          <% end %>

    </div>
  </div>

</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>

</p>

<p>
  <b>Type:</b>
  <%= @widget.media %>
</p>

<p>
  <b>Content:</b>
  <%= @widget.content %>
</p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Source:</b>
  <%= @widget.source %>
</p>

<p>
  <b>Ident:</b>
</p>




<a class="btn btn-primary btn-bucket" data-id="<%= @widget.id %>" href="<%= buckets_path %>">Bucket</a>

<%= commontator_thread(@widget) %>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
