  
<div class="container-fluid inpost-header">
  <div class="container">
    <div class="row widget-name">

      <div class="col-md-9">
        <h2><%= @widget.title %></h2>
        <p>Source | Comments | 20 Minutes Ago</p>
      </div>

      <div class="col-md-3 function-buttons">
            <a href="#" class="btn btn-love"><span class="icon">a</span>Save to Bucket</a>
            <a href="#" class="btn btn-facebook"><span class="icon">a</span></a>
            <a href="#" class="btn btn-twitter"><span class="icon">a</span></a>
      </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="row">

  <% if @widget.media == "photo" %>
    <div class="col-md-12 content text-center">
            <img src="<%= @widget.content %>" id="show-image" class="image"/>
    </div>
  <% end %>

  <% if @widget.media == "video" %>
    <div class="col-md-12 content text-center">
            <%= raw @widget.content %>
    </div>
  <% end %>

  <% if @widget.media == "rich" %>
    <div class="col-md-12 content text-center">
            <%= raw @widget.content %>
    </div>
  <% end %>


  </div>

</div>

<p id="notice"><%= notice %></p>
      <div class="col-md-3 social-buttons">
        <%= link_to "Prev", @widget.prev, class: "btn btn-prev"  %>
        <%= link_to "Next", @widget.next, class: "btn btn-next"  %>
      </div>
<p>
  <b>Title:</b>

</p>

<p>
  <b>Type:</b>
  <%= @widget.media %>
</p>

<p>
  <b>Content:</b>
  <%= @widget.content %>
</p>

<p>
  <b>User:</b>
  <%= @widget.user %>
</p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Source:</b>
  <%= @widget.source %>
</p>

<p>
  <b>Ident:</b>
</p>




<a class="btn btn-primary btn-bucket" data-id="<%= @widget.id %>" href="<%= buckets_path %>">Bucket</a>

<%= commontator_thread(@widget) %>

<% if can? :update, @widget %>
    <%= link_to "Edit", edit_widget_path(@widget) %> |
<% end %>


