<div class="container-fluid register">
  <div class="background"></div>
  <div class="row">

  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Welcome back, we missed you!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <%= f.text_field :login, :autofocus => true, :placeholder => "Email or Username" %>
        <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= devise_error_messages! %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 sign-up-button">
      <%= f.submit "Sign in" %>
    </div>
  </div>

  <div class="row">
    <div class="forgot-buttons">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>

<% end %>