
<% @widgets.each do |widget| %>


    <% if widget.media == "photo" %>
            
        <div class="item">

            <div class="row widget-user">
                <div class="col-sm-12">
                    <div class="widget-user-avatar">
                        <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                    </div>
                    <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                </div>
            </div>

        <%= link_to widget_path(widget) do %>

            <div class="img-container">
                <img src="<%= widget.content %>"/>
            </div>

                <% unless widget.title.blank? %>

                    <div class="widget-info">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">               
                                    <h3><%= widget.title %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>

        <% end %>

            <div class="widget-stats">
                <div class="container-fluid">

                    <div class="row widget-post-stats">
                        <div class="col-sm-7 text-left">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><i class="md-favorite md-widget-heart"></i><%= widget.get_likes.size %></p>
                            <% end %>
                        </div>

                        <div class="col-sm-5 text-right">
                            <a href="#" class="more-icon"><i class="md-more-horiz md-widget-more"></i></a>
                            <a href="<%= widget.url %>" class="source-icon"><i class="md-link md-widget-link"></i></a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    <% end %>

        <% if widget.media == "video" %>
        <div class="item video-item">

                <div class="row widget-user">
                    <div class="col-sm-12">
                        <div class="widget-user-avatar">
                            <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                        </div>
                        <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                    </div>
                </div>
            <%= link_to widget_path(widget) do %>
                
                <div class="video-container">
                    <div class="play-video">
                        <i class="md-play-arrow md-widget-play"></i>
                    </div> 
                    <div class="video" style="background-image:url('<%= widget.thumb %>')"></div>
                </div>

                <% unless widget.title.blank? %> 
                    <div class="widget-info">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">               
                                    <h3><%= widget.title %></h3>
                                    <p><%= widget.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                

            <% end %>

            <div class="widget-stats">
                <div class="container-fluid">

                    <div class="row widget-post-stats">
                        <div class="col-sm-7 text-left">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><i class="md-favorite md-widget-heart"></i><%= widget.get_likes.size %></p>
                            <% end %>
                        </div>

                        <div class="col-sm-5 text-right">
                            <a href="#" class="more-icon"><i class="md-more-horiz md-widget-more"></i></a>
                            <a href="<%= widget.url %>" class="source-icon"><i class="md-link md-widget-link"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        
        </div>

        <% end %>

        <% if widget.media == "rich" %>

        <div class="item">

            <div class="row widget-user">
                <div class="col-sm-12">
                    <div class="widget-user-avatar">
                        <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                    </div>
                    <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                </div>
            </div>

        <%= link_to widget_path(widget) do %>
                
                <div class="video-container">
                    <div class="play-video">
                        <i class="md-play-arrow md-widget-play"></i>
                    </div> 
                    <div class="video" style="background-image:url('<%= widget.thumb %>')"></div>
                </div>

                <% unless widget.title.blank? %> 
                    <div class="widget-info">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">               
                                    <h3><%= widget.title %></h3>
                                    <p><%= widget.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                
        <% end %>

            <div class="widget-stats">
                <div class="container-fluid">

                    <div class="row widget-post-stats">
                        <div class="col-sm-7 text-left">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><i class="md-favorite md-widget-heart"></i><%= widget.get_likes.size %></p>
                            <% end %>
                        </div>

                        <div class="col-sm-5 text-right">
                            <a href="#" class="more-icon"><i class="md-more-horiz md-widget-more"></i></a>
                            <a href="<%= widget.url %>" class="source-icon"><i class="md-link md-widget-link"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <% end %>


        <% if widget.media == "link" %>

        <div class="item">

            <div class="row widget-user">
                <div class="col-sm-12">
                    <div class="widget-user-avatar">
                        <div class="avatar" style="background-image:url('<%= widget.user.avatar %>')"></div>
                    </div>
                    <h2><a href="/users/<%= widget.user.id %>"><%= widget.username %></a></h2>
                </div>
            </div>

            <%= link_to widget_path(widget) do %>

            <div class="img-container">
                <img src="<%= widget.thumb %>"/>
            </div>

                <% unless widget.title.blank? %>

                    <div class="widget-info">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">               
                                    <h3><%= widget.title %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>

        <% end %>

            <div class="widget-stats">
                <div class="container-fluid">

                    <div class="row widget-post-stats">
                        <div class="col-sm-7 text-left">
                            <% if current_user && current_user.voted_for?(widget) %>
                                <p class="heart-icon-liked"><span class="icon">n</span><%= widget.get_likes.size %></p>
                            <% else %>
                                <p class="heart-icon"><i class="md-favorite md-widget-heart"></i><%= widget.get_likes.size %></p>
                            <% end %>
                        </div>

                        <div class="col-sm-5 text-right">
                            <a href="#" class="more-icon"><i class="md-more-horiz md-widget-more"></i></a>
                            <a href="<%= widget.url %>" class="source-icon"><i class="md-link md-widget-link"></i></a>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <% end %>


    <% end %>



