<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Hashtagg.tv</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= favicon_link_tag 'favicon.ico' %>


  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("16ed2e8babf9b2d94e15dcab40365136");</script><!-- end Mixpanel -->



  <%= csrf_meta_tags %>
</head>
<body>

<!-- OVERLAYING FOOTER MENU -->

<div id="overlay-menu">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <li><a href="#" id="overlay-close"><span class="icon">y</span></a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms Of Service</a></li>
          <li><a href="http://www.youtube.com/watch?v=5J2kc4oZTVU" target="_blank">Bees?</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-center navbar-brand"><a href="/" class="navbar-brand"><img src="<%= image_path "logo@1x.png" %>"></a></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" id="overlay-open" class="open-company-nav"><span class="icon">x</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            

        <% if user_signed_in? %>

			  <li>
			     <a href="/users/<%= current_user.id %>/favourites" data-toggle="tooltip" data-placement="bottom" title="My Favourites"><i class="md-favorite md-lg"></i>Favs</a>
			  </li>


        <li>
          <%= link_to new_user_invitation_path do  %><i class="md-wallet-giftcard md-lg"></i>Invite<% end %>
        </li>

        <li>
          <a href="#" id="points" data-toggle="tooltip" data-placement="bottom" title="My Score">
            <i class="md-wallet-giftcard md-lg"></i><%= current_user.points %>
          </a>
        </li>

			<% else %>

			  <li>
			  <%= link_to('Login', new_user_session_path)  %>  
			  </li>

			<% end %>

            <% if user_signed_in? %>

			  <li>

          

        <div class="user-dropdown">
			     <a href="/users/<%= current_user.id %>" class="dropdown-toggle user-menu" id="user-dropdown" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu" aria-labelledby="userdropdown">
            <li role="presentation">
              <%= link_to edit_user_registration_path do  %><i class="md md-settings md-spin md-lg"></i>Account Settings<% end %>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon">i</span>Download Mobile App</a></li>
            <li role="presentation"><a role="menuitem" href="#"><span class="icon">s</span>Send Feedback</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to destroy_user_session_path, :method => :delete do  %><span class="icon">&#xe016;</span>Logout<% end %>
            </li>
          </ul>
        </div>

			  </li>

			<% else %>
			  <li>
			  <%= link_to('Register', new_user_registration_path)  %>
			  </li>
			<% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>


<%= yield %>



</body>
</html>
